// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
}
